* {
  margin: 0;
  padding: 0;
  box-sizing : border-box;
  font-family : 'helvetica neue';
}
html,
body {
  height: 100%;
  background-color: brown;
  width: 100%;
  padding: 5px 10px;
  margin: 10px;
}
input{
  background-color: rgb(227, 225, 225);
  width: 200px;
  height: 50px;
}
button{
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 70px;
  margin-top: 10px;
  display: flex;
  margin-left: 70px;
  justify-content: center;
  align-items: center ;
}